.feed {
    flex: 1;
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1050px) {
    .feed {
        padding: 0px 5px;
    }
}