.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}
.post_top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}
.post_avatar {
    margin-right: 10px;
}
.post_topInfo > h3 {
    font-size: medium;
}
.post_topInfo > p {
    font-size: small;
    color: gray;
}
.post_image >img {
    width: 100%;
    border-radius: 15px;
    border-top: 1px solid rgb(175, 175, 175);

}
.post_bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}
.post-options {
    padding-top: 10px;
    border-top: 1px solid rgb(175, 175, 175);
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    padding: 15px;
}
.post-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}
.post-option > p {
    margin-left: 10px;
}
.post-option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}