.sidebar {
    padding: 25px 10px;
    flex: 0.33;
}
.sidebar-content {
    position: fixed;
    overflow-wrap: break-word;
}
@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}